pytextrank
spacy
pandas
pymupdf4llm
PyMuPDF

pydantic>=2.9.2
fastapi>=0.115.0
uvicorn>=0.31.0
fastapi-utils>=0.6.0
langchain>=0.3.0
langchain_community
toml
python-dotenv

requests>=2.32.3
pgvector
sqlalchemy